appdirs==1.4.4
attrs==21.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bitarray==1.2.2
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cryptocompare==0.7.5
cssselect==1.1.0
cytoolz==0.11.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
fake-useragent==0.1.11
idna==2.10
inflection==0.5.1
lxml==4.6.3
more-itertools==8.7.0
multiaddr==0.0.9
netaddr==0.8.0
numpy==1.20.3
oauthlib==3.1.0
pandas==1.2.4
parse==1.19.0
parsimonious==0.8.1
pycryptodome==3.10.1
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
Quandl==3.6.1
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
rlp==2.0.1
selenium==3.141.0
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
toolz==0.11.1
tqdm==4.60.0
tweepy==3.10.0
urllib3==1.26.4
varint==1.0.2
w3lib==1.22.0
websockets==8.1
